<!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Pool</h2>
          	<ul class="lead">
          		<li>16 x 32 gated inground pool</li>
          		<li>Inground hot tub</li>
          		<li> 4-person Sauna</li> 
          	</ul>
        </div>
        <div class="col-md-5">
          
          <%= image_tag("pool2.jpg", alt:"pool", :class =>"featurette-image img-responsive", :data =>{:src =>"holder.js/500x500/auto"})%>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag("gym.jpg", alt:"gym", :class =>"featurette-image img-responsive", :data =>{:src =>"holder.js/500x500/auto"})%>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Gym<span class="text-muted">  24 hour access.</span></h2>
          <ul class="lead">
          	<li>Access to several styles of free weights</li>
          	<li>Flat Screen television with access to basic cable package</li>
          	<li>Treadmill</li>
          	<li>Bowflex</li>
          </ul>
        </div>
      </div>


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Laundry Room<span class="text-muted">  24 hour access</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag("laundry.jpg", alt:"Laundry", :class =>"featurette-image img-responsive", :data =>{:src =>"holder.js/500x500/auto"})%>
        </div>
      </div>

      

      <!-- /END THE FEATURETTES -->

